{% comment %}
<!-- /snippets/bv-ratings-reviews.liquid -->
<!-- Bazaarvoice Ratings & Reviews -->
{% endcomment %}
<div id="reviews-segment" data-bv-show="reviews" data-bv-product-id="{{product.id}}">
</div>


<! –– Bazaarvoice Shopify Integration Version 2.2 ––>
{% comment %}
<!-- End Bazaarvoice Ratings & Reviews -->
{% endcomment %}