<section class="contact-box">
      <div class="col-xs-6 contact-item--email">
        <a href="">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <span>Email Us: </span><span class="contact-item-info">info@lagirlusa.com</span>
        
        </a>
      </div>
      <div class="col-xs-6 contact-item--phone">
        <a href="">
          <i class="fa fa-phone" aria-hidden="true"></i>
        <span>Call Us:</span><span class="contact-item-info">(909) 945-2220</span>
        </a>
      </div>
      
    </section>