
{% comment %}
    Renders a back icon

    Usage:
       {% render 'icon-back',  class: 'w-[75px] h-[75px]' %}
    %}
{% endcomment %}

{%- liquid
  if class == nil
    assign class = 'w-[36px] h-[36px]'
  else
    assign class = class
  endif
-%}

<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="{{ class }}"><title>Back icon</title> 
  <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
</svg>
