<div
  class="product-info__description-images"
  data-transition-enabled="true"
  data-scroll-transition="fade"
  id="description-images"
>
  {%- capture sizes -%}
 (max-width: 1023px) 100vw,  40vw
{%- endcapture -%}
  
  {% if product.metafields.custom.product_description_images.value %}
    <div class="product__image_promo">
      {% assign array_of_images = product.metafields.custom.product_description_images.value %}
      {% for images in array_of_images %}
         <div class="mt-4">
        {%- capture alt_tag -%}{{ images | split: '/' | last | split: '?' | first | split: '.' | first | replace: '_', ' ' }}{%- endcapture -%}
        {%- render 'responsive-image', image: images, sizes: sizes, lazyload: true, alt: media.alt -%}
         </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if product.metafields.custom.product_detail_section_promo_images.value %}
    <div class="product__image_promo">
      {% assign array_of_images = product.metafields.custom.product_detail_section_promo_images.value %}

      {% for images in array_of_images %}
        <div class="mt-4">
        {%- capture alt_tag -%}{{ images | split: '/' | last | split: '?' | first | split: '.' | first | replace: '_', ' ' }}{%- endcapture -%}
        {%- render 'responsive-image', image: images, sizes: sizes, lazyload: true, alt: media.alt -%}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
