  {% if settings.display_product_reviews %}
       <section  id="reviews" class="product_section" data-scroll-index='4'>
                <div class="product_section_reviews ">
                   
                  <h2 id="headline_section_media" class="product_section_headline">Customer Reviews</h2>
                  <div id="section_reviews" class="product_section_content product_section_media">
                    <div class="product_reviews">
                      
              
                      
                     
                    	
                    </div>
                  </div>
                </div>   
       		</section>
       {% endif %}
  






