<div class="swiper-slide box-border flex !h-[3.5rem] !w-[3.5rem] cursor-pointer items-center justify-center overflow-hidden rounded-full border border-pink-500 transition-all duration-300 ease-in hover:border-pink-500">
</div>>
<div class="swiper-pagination-bullet-active z-[100] rotate-90 md:w-[clamp(30vw,100%,40vh)] lg:static"></div>

<div id="glightbox-body" class="glightbox-container">
    <div class="gloader visible"></div>
    <div class="goverlay-custom absolute bottom-0 left-0 m-0 box-border h-full w-full overflow-hidden border-none bg-[rgba(0,0,0,0.8)] p-0 backdrop-blur-[20px]"></div>
    <div class="gcontainer">
    <div id="glightbox-slider" class="gslider"></div>

    <div class="gnext navigationArrows_position z-12 absolute right-0 top-1/2 flex -translate-y-1/2 transform justify-center">
<div class="navigationArrowsContainer">
  <div role="button" aria-label="Move to previous video" tabindex="0" class="gprev backdropButton tap-highlight-transparent pointer-events-auto relative cursor-pointer">
    <div class="backdropButton_badgeContainer z-1 absolute right-0 top-0 -translate-y-[20%] translate-x-[20%] transform"></div>
    <div class="backdropButton_iconContainer ease flex h-10 w-10 items-center rounded-[100px] backdrop-blur-[10px] transition-all duration-300">
      <div class="flex rotate-[270deg] transform flex-col items-center transition-transform duration-200 ease-in-out">
         <svg class="size-4"  width="24" height="24" viewBox="0 0 44.308 44.308" fill="#fff" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M31.767 20.849 16.727 5.809a0.923 0.923 0 0 0 -1.305 0l-1.305 1.305a0.923 0 0 0 0 1.305L27.851 22.154l-13.735 13.734a0.923 0 0 0 0 1.305l1.306 1.305a0.923 0 0 0 1.305 0l15.04 -15.04a1.846 1.846 0 0 0 0 -2.61Z"></path></svg>
      </div>
    </div>
  </div>
  <div role="button" aria-label="Move to next video" tabindex="0" class="gnext backdropButton tap-highlight-transparent pointer-events-auto relative cursor-pointer">
    <div class="backdropButton_badgeContainer z-1 absolute right-0 top-0 -translate-y-[20%] translate-x-[20%] transform"></div>
     <div class="backdropButton_iconContainer ease flex h-10 w-10 items-center rounded-[100px] backdrop-blur-[10px] transition-all duration-300">
      <div class="flex rotate-90 transform flex-col items-center transition-transform duration-200 ease-in-out">
        <svg class="size-4" width="24" height="24" viewBox="0 0 44.308 44.308" fill="#fff" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M31.767 20.849 16.727 5.809a0.923 0.923 0 0 0 -1.305 0l-1.305 1.305a0.923 0 0 0 0 1.305L27.851 22.154l-13.735 13.734a0.923 0 0 0 0 1.305l1.306 1.305a0.923 0 0 0 1.305 0l15.04 -15.04a1.846 1.846 0 0 0 0 -2.61Z"></path></svg>
      </div>
    </div>
  </div>
</div>
</div>

    <div aria-label="modal close" role="button" tabindex="0" 
    class="feedCloseButton absolute left-4 top-4 z-[1000000] flex h-10 w-10 cursor-pointer items-center justify-center rounded-full bg-[rgba(0,0,0,0.2)] p-2.5">
    <svg width="18" height="18" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.055 16.594a.662.662 0 0 1-.899 0L10 11.398l-5.195 5.196a0.662 0.662 0 0 1-.899 0 .662.662 0 0 1 0-.899L9.102 10.5 3.906 5.344a0.662 0.662 0 0 1 0-.899.662.662 0 0 1 .899 0L10 9.641l5.156-5.196a.662.662 0 0 1 .899 0 .662.662 0 0 1 0 .899L10.859 10.5l5.196 5.195a.662.662 0 0 1 0 .899Z" style="fill: #FFFFFF !important;"></path></svg>
    </div>
    
</div>
</div>

<div
    class="swiper-slide box-border flex !h-[3.5rem] !w-[3.5rem] cursor-pointer items-center justify-center overflow-hidden rounded-full border border-pink-500 transition-all duration-300 ease-in hover:border-pink-500"
  ></div>
  >
  
  <div class="swiper-pagination-bullet-active site__main top-[-3rem] z-[100] pbe-2 pbs-2 lg:static"></div>
  
  <a class="predictive-search__item group flex gap-4" tabindex="-1">
  <span class="predictive-search__item-heading hover-transition">PRO.Prep Primer</span>
  </a>
  <div
    class="swiper-slide box-border flex !h-[3.5rem] !w-[3.5rem] cursor-pointer items-center justify-center overflow-hidden rounded-full border border-pink-500 transition-all duration-300 ease-in hover:border-pink-500"
  ></div>
  >
  
  
  