{{ 'slide-carousel-system.css' | asset_url | stylesheet_tag }}
{% comment %}
  <script defer src="{{ 'slide-carousel-system.js' | asset_url }}"></script>
  Carousel will be initialized for elements with the class slide-carousel-system during the DOMContentLoaded event and use their id as the carousel identifier.
{% endcomment %}

{% comment %}
if this works, then remove  ella.trendingSlider();
{% endcomment %}
<style>
section#home-instagram-gallery {
    background: #eb008b30;
    padding: 4rem 0 2rem;
}
  
</style>

<section class="widget-trending-product" id="trend-carousel">
    <div class="text-center px-8">
      <h3 class="text-5xl font-bold mb-2 font-display">{{ section.settings.header }}</h3>
  
      </div>

  <div class="slide-carousel-system md:pl-[72px]" id="trends1">
    <div class="slide-carousel-system__wrapper slide-carousel-system__wrapper--fluid" role="list">
      {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
        {%- comment %}<locksmith:d39b>{% endcomment -%}
          {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: section.settings.collection, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
        {%- comment %}</locksmith:d39b>{% endcomment -%}
        {% unless product.tags contains 'coming soon' %}
          {% if product.available %}
            {% render 'product-grid-item-carousel' %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </div>
    <div
      class="slide-carousel-system__scroll-bar-wrapper"
      role="scrollbar"
      tabindex="0"
      aria-controls="slide-carousel-system__scroll-bar-track"
      aria-orientation="horizontal"
      aria-valuemin="0"
      aria-valuenow="0"
      aria-hidden="false"
    >
      <div class="slide-carousel-system__scrollbar">
        <div class="slide-carousel-system__scrollbar-track"></div>
        <div class="slide-carousel-system__scrollbar-thumb" data-cursor=""></div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Collection Slider",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "header",
        "default": "Featured collection",
        "label": "header"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "products_to_show",
        "min": 2,
        "max": 25,
        "step": 1,
        "default": 4,
        "label": "Maximum products to show"
      }
    ],
    "presets": [
    {
      "name": "Collection Slider"
    }
      ]


  }
{% endschema %}