$colors: (

/* RA Gel Extreme Shine Polish */
gnl665-bella: #fecab2,
gnl666-valley-girl: #bb2f6e,
gnl701-lingerie: gnl701-lingerie,
gnl702-star-dust: gnl702-star-dust,
gnl703-bachelorette: #a4485f,
gnl704-pampered: #ee2128,
gnl705-bayside: gnl705-bayside,
gnl706-rio: #fe4161,
gnl707-psyched: gnl707-psyched,
gnl708-scandalous: #6a2039,
gnl709-wickedness: #523339,
gnl710-mystical: gnl710-mystical,
gnl711-grounded: #203457,
gnl712-mastermind: #440b40,


    /* Lip Essentials */
glp525-sugar: #dad8d9,
glp526-clear: #dad8d9,
glp527-tickled: #f894b6,


/* PRO.Prep Correcting Primer */
gfp911-yellow: #d7b170,
gfp912-green: #aeb980,
gfp913-cool-pink: #d6a18b,
gfp914-orange: #d28c68,
gfp915-colorless: #efefef,


/* Shockwave Neon  Lipliner  */
gp731-pop: #dc155d,
gp732-outrage: #d44c1e,
gp733-blaze: #99056f,
gp734-fiery: #8e1d2c,

/* Shockwave Neon Eyeliner  */
gp735-electric: #5aa0ce,
gp736-fresh: #8bc2b2,
gp737-screamin: #f4ec7c,
gp738-gotcha: #748d3e,
gp739-vivid: #6e4e85,
gp740-blackout: #222325,


/* Glitter Magic Shimmer Shifting Lip Color  */
glc890-rockette: #b96fac,
glc891-ice-queen: #876294,
glc892-glitterati: #a57479,
glc893-champagne-fizz: #b0653f,
glc894-ravishing: #bc2e27,
glc895-sparkler: #cc4678,
glc896-fizzy-fuchsia: #c8356f,
glc897-hypnotic: #4d1248,
glc898-glitz: #b347b0,
glc899-starry-night: #180d65,

/* Shockwave Neon Eyeliner  */
glh701-princess-glow: #d4a2a7,
glh702-glowaholic: #c0b7b0,
glh703-halo-glow: #cfc082,
glh704-glow-girl: #d4a77c,
glh705-cosmic-glow: #62568b,
glh706-pixie-glow: #b9609e,
glh707-glow-getter: #c9ad58,
glh708-gimme-glow: #a9744f,
    
/* Luminous Glow Illuminating Cream */
glp691-sunlit: #bf8c6e,
glp692-afterglow: #be9063,
glp693-moonlight: #ddd5cc,

/* Luminous Glow Illuminating Powder*/
glp694-24k: #f9ecc1,
glp695-sunkissed: #f2a491,
glp696-holographic-stardust: #e1dedc,

/*Gloss Topper/*/
glg571-clearly-clear: #cfcfcf,
glg572-flashing-opal: #b78eb6,
glg573-kaleidoscope: #93b3c8,
glg574-starlight: #ffd264,
glg575-magical: #edadd3,

/*Chrome Polish/*/
gnl901-brushed-nickle: #d1d1d1,
gnl902-burnished-gold: #e0aeac,
gnl903-plated-pink: #d18ecb,
gnl904-electric-blue: #1ebde1,
gnl905-gold-digger: #efdcac,
gnl906-radiant-rose: #e08db5,
gnl907-lacquered-lavender: #807993,
gnl908-gunmetal-gray: #626262,


/* Precision Eyeliner*/
gp701-black: #131313,
gp702-dark-brown: #2e271d,
gp703-cobalt: #1836b8,
gp704-brown: #40332b,
gp705-tropical: #139394,
gp706-deep-violet: #4c447f,
gp707-metallic-silver: #a9a9a9,
gp708-artic-white: #f5f3f4,

/* Reverse Lipliner*/
gp711-clear: #f4f4f4,

/* Precision Lipliner*/
gp712-nude: #e6aa90,
gp713-bare: #8b5e47,
gp714-sugar-spice: #9b6751,
gp715-blushing: #7f5153,
gp716-cafe: #94644d,
gp717-pinky: #c2778b,
gp718-flesh: #b07d68,
gp719-sensational: #f95d50,
gp720-reddish: #a1292b,
gp721-deep-red: #7e212c,
gp722-magnificent: #9b4175,
gp723-satin-plum: #784b46,
gp724-berry-wine: #49292a,
gp725-chocolate: #4e3224,
gp726-vamp: #280f08,

/* Brow Pomade*/
gbp361-blonde: #907b6a,
gbp362-taupe: #7d6752,
gbp363-soft-brown: #5b483a,
gbp364-warm-brown: #41291d,
gbp365-dark-brown: #39291c,
gbp366-soft-black: #1a1917,

/* Gel Eyeliner*/
gel731-jet-black: #1a1917,
gel732-black-cosmic-shimmer: gel732-black-cosmic-shimmer,
gel733-mermaid-teal-frost: #0c86ab,
gel734-raging-purple: #2e1332,
gel735-rich-chocolate-brown: #51331b,

/* PRO Matte Foundation */
glm671-ivory: #f2cda4,
glm672-bisque: #eebe91,
glm673-beige: #d9ad80,
glm674-natural: #d5a476,
glm675-medium-beige: #bd8e64,
glm676-light-tan: #bd8c5d,
glm677-soft-honey: #db9f5f,
glm678-sand: #b7885c,
glm679-warm-sienna: #a37041,
glm680-golden-bronze: #a9713f,
glm681-caramel: #925c2c,
glm682-cafe: #906037,
glm683-nutmeg: #7b4a23,
glm684-cappuccino: #6d4424,

/* Lipify Stylo Lipstick */
glc871-lingerie: #bf7644,
glc872-dreamer: #bb6d49,
glc873-corset: #aa6c48,
glc874-giddy: #ba5157,
glc875-honeymoon: #9e5454,
glc876-teddy: #823829,
glc877-superstitious: #865d48,
glc878-ambitious: #783123,
glc879-edgy: #70515d,
glc880-panic: #9f175a,
glc881-rio: #f77258,
glc882-blaze: #f64530,
glc883-brave: #e4394d,
glc884-lust: #af100b,
glc885-jubilee: #803124,
glc886-riot: #460e0c,

/* Ultimate Intense Stay Auto Eyeliner*/
gp321-ultimate-black: #040404,
gp322-continuous-charcoal: #676a6d,
gp323-deepest-brown: #332a22,
gp324-never-ending-navy: #002c5a,
gp325-perpetual-purple: #2c1c48,
gp326-totally-teal: #02707a,
gp327-lasting-brown: #4e3227,
gp328-super-bright: #fbcaaf,

/* Ultimate Intense Stay Auto Lipliner */
gp341-forever-bare: #ba735d,
gp342-nonstop-nude: #af675e,
gp343-keep-it-spicy: #a05d55,
gp344-enduring-mauve: #a94a58,
gp345-eternal-pink: #e12c8e,
gp346-relentless-red: #b80030,
gp347-boundless-berry: #a61f6f,
gp348-unlimited-wine: #8b2339,

/* Fineline Eyeliner*/
gle717-emerald: #306c6c,
gle718-plum: #491365,
gle719-dark-brown: #452f08,
gle720-dark-blue: #101662,
gle721-black: #040404,

  /* Eye Lux Eyeshadow*/
ges461-harmonize: ges461-harmonize,
ges462-optimize: ges462-optimize,
ges463-sensualize: ges463-sensualize,
ges464-privatize: ges464-privatize,
ges465-urbanize: ges465-urbanize,
ges466-tropicalize: ges466-tropicalize,
ges467-socialize: ges467-socialize,
ges468-fantasize: ges468-fantasize,
ges469-eternalize: ges469-eternalize,
ges470-idolize: ges470-idolize,
ges471-polarize: ges471-polarize,
ges472-tranquilize: ges472-tranquilize,
ges473-energize: ges473-energize,
ges474-glamorize: ges474-glamorize,
ges475-hypnotize: ges475-hypnotize,
ges476-dramatize: ges476-dramatize,

  /* Just Blushing*/
gbl481-just-because: #ad8f84,
gbl482-just-bare: #b57d67,
gbl483-just-glowing: #b57d65,
gbl484-just-peachy: #e29079,
gbl485-just-kissed: #e67999,
gbl486-just-pinched: #db646d,
gbl487-just-dance: #aa6ea9,
gbl488-just-love: #db4283,
gbl489-just-natural: #c98775,
gbl490-just-radiant: #c57a79,
gbl491-just-be-you: #c2826b,
gbl492-just-playful: #c58a7d,
gbl493-just-dazzle: #d07d83,
gbl494-just-rosy: #da7c7f,
gbl495-just-for-fun: #d84c36,
gbl496-just-fearless: #b0545f,

  /* PRO.Contour Cream*/
gcc633-fair: gcc633-fair,
gcc634-light: gcc634-light,
gcc635-natural: gcc635-natural,
gcc636-medium: gcc636-medium,
gcc637-tan: gcc637-tan,
gcc638-medium-deep: gcc638-medium-deep,
gcc639-deep: gcc639-deep,
gcc640-highlighter-bronzer: gcc640-highlighter-bronzer,

  /* PRO.Contour Powder*/
gcp661-fair: gcp661-fair,
gcp662-light: gcp662-light,
gcp663-natural: gcp663-natural,
gcp664-medium: gcp664-medium,
gcp665-tan: gcp665-tan,
gcp666-medium-deep: gcp666-medium-deep,
gcp667-deep: gcp667-deep,
gcp668-highlighter-bronzer: gcp668-highlighter-bronzer,



  /* Metal Liquid Lipstick */
gml851-champagne: #bf8158,
gml852-satin-gold: #a56435,
gml853-copper: #b2653f,
gml854-smolder: #a75f4e,
gml855-polished: #bb6f55,
gml856-golden: #b1662f,
gml857-opulent: #a04930,
gml858-lavish: #762f27,
gml859-illuminate: #813e3e,
gml860-bronzed: #672524,
gml861-galvanize: #6d403d,
gml862-molten: #ae290e,
gml863-treasure: #960a21,
gml864-lustrous: #861d2d,
gml865-flashy: #760653,
gml866-brilliant: #b30852,
gml867-prism: #7c0730,
gml868-clash: #6a7da2,
  /* Pro Coverage Illuminating Foundation */
glm641-white-lightener: #e9eae5,
glm642-fair: #d2a075,
glm643-porcelain: #db9976,
glm644-natural: #b67b55,
glm645-nude-beige: #b97b47,
glm646-beige: #a66d41,
glm647-warm-beige: #af6d38,
glm648-soft-honey: #b97446,
glm649-tan: #ba7242,
glm650-sand: #a75f32,
glm651-bronze: #a76b38,
glm652-warm-caramel: #a56339,
glm653-toast: #804728,
glm654-coffee: #5f351d,
glm655-rich-cocoa: #60341b,
glm656-dark-chocolate: #3b2417,

  /* HD PRO Setting Powder */
gpp939-translucent: #efefef,
gpp920-banana-yellow: #f5e1c9,

  /* Gel Liner Kit */
gel722-very-black: #474546,
gel723-dark-brown: #6e6057,
gel724-brown: #7e6358,


  /* Strobe lite */
gsp621-120-watt: #d1cbcb,
gsp622-110-watt: #dfc5ac,
gsp623-100-watt: #e7c290,
gsp624-90-watt: #e6b7a5,
gsp625-80-watt: #d08d55,
gsp626-70-watt: #e9a78d,
gsp627-60-watt: #f9d681,
gsp628-50-watt: #c9997b,
gsp629-40-watt: #d08568,
gsp630-30-watt: #b9775b,
gsp631-20-watt: #b47740,
gsp632-10-watt: #8b4525,

  /* Pro Treatment */
garlic-nail-treatment: garlic-nail-treatment,
calcium-nail-builder: calcium-nail-builder,


/* Inspiring Eyeshadow Palette */
ges339-fabulous-fearless: ges339-fabulous-fearless,
ges338-be-bold-beautiful: ges338-be-bold-beautiful,
ges337-youre-smokin-hot: ges337-youre-smokin-hot,
ges336-get-glam-get-going: ges336-get-glam-get-going,
ges340-day-dream-believer: ges340-day-dream-believer,
ges335-naturally-beautiful: ges335-naturally-beautiful,

/* Inspiring Eyebrow tin */
ges341-light-and-bright: ges341-light-and-bright,
ges342-medium-and-marvelous: ges342-medium-and-marvelous,
ges343-dark-and-defined:  ges343-dark-and-defined,


/* Gel Extreme Shine */
gnl651-clear: #e4e4e4,
gnl652-charming: #ca758c,
gnl653-classified: #c02630,
gnl654-impulse: #ff5f5f,
gnl655-eden: #f876ce,
gnl656-genesis: #6e3b97,
gnl657-persuade: #3fb5a7,
gnl658-utopia: #0c9fc0,
gnl659-striking: #e8e8e8,
gnl660-illusion: #f5bccd,
gnl661-desire: #ef2394,
gnl662-temptation: #bd9ead,
gnl663-sensual: #dca893,
gnl664-defiant: #131313,
  
  /* Shady Slim Brow Pencil */
gb351-blonde: #b48649,
gb352-taupe: #a87c4f,
gb353-soft-brown: #7c5333,
gb354-auburn: #955027,
gb355-warm-brown: #705537,
gb356-medium-brown: #5f4a37,
gb357-brunette: #503f35,
gb358-espresso: #4b301b,
gb359-blackest-brown: #382e2d,
gb360-black: #000000,
  
 /* HD Pro BB Cream */
gbb941-fair: #DFB48D,
gbb942-light: #D7AC89,
gbb943-light-medium: #CE9976,
gbb944-neutral: #D9A57B,
gbb945-medium: #CC905E,
gbb946-medium-deep: #BE8158,
gbb947-deep: #935D3C,
gbb948-dark: #6E4832,
 
  /* Pro Face Matte Pressed Powder */
gpp601-fair: #f0cdad,
gpp602-classic-ivory: #f3d1a3,
gpp603-porcelain: #fadbbe,
gpp604-creamy-natural: #f7d1a4,
gpp605-nude-beige: #ebc18f,
gpp606-buff: #efbc8f,
gpp607-warm-honey: #dba173,
gpp608-soft-honey: #d8a377, 
gpp609-medium-beige: #e7ae79,
gpp610-classic-tan: #e7b383,
gpp611-true-bronze: #d6a071,
gpp612-warm-caramel: #ca8d5e,
gpp613-toffee: #c87d43,
gpp614-chestnut: #b86d43,
gpp615-cocoa: #9b5e41,

  
  
  /* Booming Lash Mascara */ 
gms625-super-black: #000000,
gms626-soft-black: #363636,
gms627-dark-brown: #3F2A21,
  
   /* Line Art Matte Eyeliner */ 
gle712-intense-black:#020202,
gle713-espresso: #3e3023,
gle714-cobalt: #02499b,
gle715-pure-white: #dddddd,
  
  /* Super Mega Mascara */   
gms635-super-black: #000000,
gms636-soft-black: #363636,
gms637-dark-brown: #3F2A21,
  
  
  /*   Endless Auto Eyeliner */ 
gp301-very-black: #231F20,
gp302-charcoal: #323232,
gp303-dark-brown: #5E3B04,
gp304-navy: #090B61,
gp305-dark-gray: #3D3D43,
gp306-deep-plum: #4F3762,
gp307-midnite-blue: #202A5E,
gp308-purple-fizz: #4F287F,
gp309-brown: #5C3318,
gp310-olive: #354736,
gp311-light-brown: #7A4D06,
gp312-white: #FFFFFF,
gp313-silver: #A3A0A0,
gp314-copper: #B1893C,
gp315-teal: #863B60,
gp316-neon-blue: #063BC0,
gp317-lilac: #863B60,
gp318-aqua: #0376A0,
gp319-electric-green: #58AD25,
gp320-black-frost: #373C2A,

  /*   Endless Auto Eyeliner */ 
gp331-true-red: #D11228,
gp332-mauvelous: #9D4A49,
gp333-natural: #D4948A,
gp334-cocoa: #7D3520,
gp335-dark-plum: #8D0E3A,
gp336-pink-parfait: #E50278,
gp337-wine: #7C0041,
gp338-nectar: #F05033,
gp339-true-brown: #904A2D,
gp340-berries: #A30234,
	
     
    /*   Gel Glide Eyeliner Pencil */    
gp351-very-black: #231F20,
gp352-black-magic: #171A1F,
gp353-smoky-charcoal: #545454,
gp354-dark-brown: #4C2814,
gp355-deep-bronze: #4D2F10,
gp356-brown: #5F3512,
gp357-frosted-taupe: #AE835E,
gp358-metallic-copper: #AF5526,
gp359-champagne: #DCCAC0,
gp360-goldmine: #D59D2F,
gp361-limelight: #4FB84B,
gp362-gypsy-teal: #064851,
gp363-royal-blue: #232462,
gp364-mermaid-blue: #118BA6,
gp365-aquatic: #00ABCF,
gp366-paradise-purple: #48256C,
gp367-black-amethyst: #3C244A,
gp368-silver-streak: #B4B3B5,
gp369-whiten: #F6F6F6,
  


  /*   Endless Auto Eyeliner */  
gp601-black: #231F20,
gp602-brown-black: #30261D,
gp603-brown: #67482C,
gp604-navy: #012459,
gp606-mahogany: #794B0A,
gp607-gold: #FDC456,
gp608-silver: #A8A59E,
gp609-deepest-brown: #3C2B18,
gp610-espresso: #482602,
gp611-chestnut: #8A633A,
gp613-cappuccino-creme: #95734F,
gp614-medium-brown: #674726,
gp615-pecan: #842F01,
gp616-dark-brown: #4B3420,
gp617-smokey: #4A4948,
gp618-blue-metallic: #3E35B2,
gp619-raging-violet: #6A099C,
gp620-aspen-green: #044D02,
gp621-spectra-blue: #002AFF,
gp622-sandy: #A97344,
gp623-pretty-n-pink: #EB9292,
gp624-sky-blue: #49B6FB,
gp625-taupe: #825C32,
gp626-white: #EEEEEE,
gp627-bronze: #794814,

  
  /*   Glazed Lip Paint */   
 glg781-baby-doll: #FE67AE,
glg782-hot-mess: #FE6030,
glg783-blushing: #CA586F,
glg784-bombshell: #FE1777,
glg785-pin-up: #9F1314,
glg786-coy: #C821D9,
glg787-whisper: #D59383,
glg788-elude: #DD8074,
glg789-flirt: #F99C9A,
glg790-whimsical: #DE78AD,
glg791-tango: #F95E31,
glg792-peony: #FF5F55,
glg793-feisty: #FF0035,
glg794-seduce: #BF008D,
glg795-gleam: #B56D4F,
glg796-tease: #E24D89,
glg797-daring: #641243,
glg798-tempt: #440822, 
  
  /*   HD Pro Concealer */     
gc969-porcelain: #FCDFC2,
gc970-light-ivory: #F2D4B8,
gc971-classic-ivory: #EBC9b4,
gc972-natural: #E9C29C,
gc973-creamy-beige: #F6CEA8,
gc974-nude: #F2BE97,
gc975-medium-bisque: #D3A583,
gc976-pure-beige: #E1B792,
gc977-warm-sand: #D0A37D,
gc978-medium-beige: #D3A27B,
gc979-almond: #D09365,
gc980-cool-tan: #E6A671,
gc981-toast: #AE7A5B,
gc982-warm-honey: #E1AB6E,
gc983-fawn: #E09E5B,
gc984-toffee: #E5AA79,
gc985-espresso: #A27253,
gc986-chestnut: #C48D68,
gc987-beautiful-bronze: #CA916E,
gc988-dark-cocoa: #8C604A,
gc989-mahogany: #835B52,
gc990-orange-corrector: #F6774E,
gc991-yellow-corrector: #FFD588,
gc992-green-corrector: #C0D89A, 
gc993-lavender-corrector: #dad2e9,
gc994-peach-corrector: #d6a894,
gc995-light-yellow-corrector: #f0dd9c, 
gc996-highlighter: #f8f7eb,   
  
  /*   HD PRO Primer Eyeshadow Stick */    
geb195-white: #EEEEEE,
geb196-nude: #F1DBC9,
geb197-black: #000000,
 

  /*   Illuminating Blush */    
gbl551-bronzed-baby: #DEA88B,
gbl552-bashful: #EEA3A8,
gbl553-natural: #BA8E94,
gbl554-blushing: #F7A0A0,
gbl555-subtle: #DEA893,
gbl556-pink-silk: #DE8A7C,
gbl557-nectar: #EA855F,
gbl558-just-pinched: #FEABBE,
gbl559-dusty-rose: #FF9598,
gbl560-spice: #DC8677,
gbl561-le-rouge: #E1998F,
gbl562-radiant: #EA7475,
gbl563-shimmer-mocha: #B66E5C,
gbl564-satin-flush: #B7644F,
gbl565-playful-pink: #FB9C9D,
gbl566-glow: #CA7878,
gbl567-coral-heat: #CF5C61,
gbl568-pomegranate: #A35460, 
  
 
  
  /*   Lipliner Pencil */   
gp501-spice: #B06110,
gp502-cherry: #FE3032,
gp503-copper-flame: #D9762D,
gp504-sienna: #C92600,
gp505-nutmeg: #B97019,
gp506-forever-red: #E40202,
gp507-dark-brown: #8C4A09,
gp509-sable: #CD8F90,
gp510-burgundy: #8A0239,
gp511-smooth-plum: #A43848,
gp512-natural: #D49475,
gp513-sexy-red: #FC1B1B,
gp514-perfect-brown: #C76625,
gp515-deepest-purple: #5C0C7A,
gp516-dark-peach: #F17B2C,
gp518-auburn: #945149,
gp520-black: #010101,
gp521-deepest-brown: #794e23,
gp525-pink-fleur: #F39BF9,
gp528-chocolate: #8F4300,
gp529-eggplant: #8E3D50,
gp531-cappuccino: #815A37,
gp532-hazelnut: #985D29,
gp533-party-pink: #F52180,
gp534-viola: #7A48F8,
gp535-dark-purple: #631B33,
gp536-cola: #6D4A2B,
gp537-cabaret: #A63F43,
gp538-natural-creme: #BD7670,
gp539-brick: #803F06,
gp540-terra-cotta: #A64E00,
gp541-plum: #85363B,
gp542-cocoa: #7C3B01,
gp543-cafe: #895e38,
gp544-soft-sienna: #A04E04,
gp545-currant: #8B3542,
gp546-maroon: #8D212E,
gp547-coffee: #753F3F,
gp548-pecan: #B05505,
gp549-mauve: #CF844D,
gp550-chestnut: #7D5233,
gp551-raspberry: #C80948,
gp552-coral: #FF4E00,
gp553-espresso: #643e18,
gp554-forever: #CF784E,
gp555-rose: #CD0505,
gp556-golden: #FC7B13,
gp557-bronze: #983F2A,
gp558-mocha: #714E1B,
gp559-toast: #7F5F40,

  
  /*   Luxury Creme Lipstick */     
glc531-tell-me-lies: #C9748F,
glc532-forbidden-love: #CF6270,
glc533-fling: #B26564,
glc534-amour: #B66C76,
glc535-rendezvous: #D37B6F,
glc536-secret-admirer: #F28888,
glc537-endless-kisses: #E27A81,
glc538-devoted: #E1596D,
glc539-promise: #9B4A57,
glc540-last-night: #F03F73,
glc541-true-love: #C34D70,
glc542-sexy: #CF3D63,
glc543-demure: #E75B5B,
glc544-sinful: #FE394A,
glc545-pure-ecstacy: #FE5A58,
glc546-love-letters: #F84E43,
glc547-infatuated: #FF3333,
glc548-soul-mate: #D42D38,
glc549-promiscuous: #B93A3D,
glc550-kiss-and-tell: #982633,
glc551-be-mine: #901B28,
glc552-inspiration: #951F2C,
glc553-romance: #880e43,
glc554-dreamer: #000000,
glc556-beloved: #9B5B5B,
glc557-passion: #B13D7D,
glc558-embrace: #DC4146,
glc559-cherish: #FF508A,
glc560-intimate: #EB497F,
glc561-forever: #E05673,
glc562-fantasy: #E0607D,
glc563-affection: #D64340,
glc564-sweet-heart: #E15A6C,
glc565-loved: #DF846C,
glc566-beau: #C8716E,
glc567-charming: #D97A7A,
glc568-love-sick: #FF6594,
glc569-adorable: #FD7650,

  
  /* Matte Flat Velvet Lipstick */  
glc801-ooh-la-la: #FFD2CF,
glc802-carried-away: #FFD1D6,
glc803-sweet-revenge: #E76D8B,
glc804-blessed: #FF5A69,
glc805-sunset-chic: #FE7068,
glc806-frisky: #FF483D,
glc807-hot-stuff: #F4436D,
glc808-gossip: #AB0033,
glc809-relentless: #A7182C,
glc810-bite-me: #8A2432,
glc811-spicy: #780000,
glc812-snuggle: #CA7C6A,
glc813-hush: #B7635E,
glc814-bliss: #D6006E,
glc815-arm-candy: #FF78A5,
glc816-electric: #FF448D,
glc817-love-story: #FF80AF,
glc818-dare-to-date: #F168A9,
glc819-giggle: #E05FBC,
glc820-love-triangle: #A03493,
glc821-manic: #A61F6A,
glc822-runway: #7A303F,
glc823-va-voom: #802A48,
glc824-poetic: #5E5E5E,
glc825-blue-valentine: #142442,
glc826-raven: #000000,

  
  /* Matte Pigment Lipgloss */   
glg831-fantasy: #E8726A,
glg832-dreamy: #ba6b5e,
glg833-fleur: #D06240,
glg834-bazaar: #A8352A,
glg835-timeless: #B94372,
glg836-iconic: #F7709F,
glg837-playful: #F65482,
glg838-tulle: #EB308C,
glg839-obsess: #C70000,
glg840-instinct: #BA311E,
glg841-frisky: #AE1D28,
glg842-secret: #6A0F16,
glg843-rebel: #6F2833,
glg844-backstage: #531e30,
glg845-stunner: #6D0E5C,
glg846-black-currant: #49073E,
  
  /* Perfecting Liquid Makeup */    
glm951-ivory: #EEDDC4,
glm952-vanilla: #D6B8A3,
glm953-natural: #DABEA9,
glm954-nude: #E5BFA6,
glm955-buff: #E5C0AD,
glm956-beige: #E8C8A2,
glm957-medium-beige: #D9BD9B,
glm958-tan: #D9BD9B,
glm959-honey: #D5AA76,
glm960-warm-bronze: #D1A076,
glm961-toasted-almond: #C19B6C,
glm962-toffee: #B27C3F,
glm963-caramel: #AC864D,
glm964-mocha: #AA7E61,
glm965-sable: #A0714C,
glm966-mahongany: #835C41,
glm967-cocoa: #684933,
glm968-espresso: #5B3C32,
  
  
  /* Bag */    
gbag01-black: #000000,
gbag02-pink: #FF4AA1,
gbag03-black: #000000,
gbag04-pink: #FF4AA1,

  
  /* contour sticks */
gcs581-luminous: #CDA08A,
gcs582-radiance: #E7C7B5,
gcs583-cashmere: #F1C4A4,
gcs584-snuggle: #FE8872,
gcs585-dreamy: #CA4959,
gcs586-plume: #DC4067,
gcs587-plush: #AC2649,
gcs588-pompom: #C21D6F,
gcs589-my-bae: #CD3843,
gcs590-glimmer: #C45B56,
gcs591-pinch-me: #DC393E,
gcs592-velour: #993441,
gcs593-crushed-berry: #691A31,
gcs594-brazen: #9E5841,
gcs595-goddess: #9D5928,
gcs596-suede: #A75E43,


/*  Color Pop Polish */
gnl842-extra-extra: gnl842-extra-extra,
gnl873-lucky-gal: gnl873-lucky-gal,
gnl854-temper: #8ec9e9,
gnl853-feisty: gnl853-feisty,
gnl852-rebel: gnl852-rebel,
gnl851-bravo: #8ec9e9,
gnl850-muse: #7c5dc5,
gnl849-oasis: #00808d,
gnl848-booyah: #ff9170,
gnl847-babycakes: gnl847-babycakes,
gnl846-wink: #f59fbc,
gnl845-glam: #f13f7b,
gnl844-neon-circus: gnl844-neon-circus,
gnl843-haute: #f3009a,
gnl842-extra-extra: gnl842-extra-extra,
gnl841-swanky: #ff248e,
gnl840-darkness: #000000,
gnl839-silver-streak: gnl839-silver-streak,
gnl838-storm: #767c8a,
gnl837-deep-sea: #30326b,
gnl836-roar: #0047bb,
gnl835-cornflower: #6389ba,
gnl834-plunge: #3991b5,
gnl833-peacock: #50bda6,
gnl832-minty: #a4bdb7,
gnl831-leap: #70e33d,
gnl830-striking: #f1f32d,
gnl829-pop: #ff9247,
gnl828-crackle: #ff4d2d,
gnl827-hot-stuff: #ff4c58,
gnl826-crush: gnl826-crush,
gnl825-hibiscus: #ee3229,
gnl824-entice: gnl824-entice,
gnl823-amour: #c80104,
gnl822-snapped: #8a0729,
gnl821-tempting: #76184d,
gnl820-juicy: gnl820-juicy,
gnl819-tart: #56187d,
gnl818-wild-child:#6f1e84,
gnl817-blast: #a0009e,
gnl816-tantrum: #f0317f,
gnl815-dragon-fruit: gnl815-dragon-fruit,
gnl814-intense: #ff4197,
gnl813-bubblegum: #ff67b2,
gnl812-lovely: #d07ac1,
gnl811-delight: #c596ca,
gnl810-precious: gnl810-precious,
gnl809-simply-nude: #e7c3c5,
gnl808-white-on:  #A75E43,
gnl807-frisky: gnl807-frisky,
gnl806-glitzy: gnl806-glitzy,
gnl805-birthday-cake: gnl805-birthday-cake,
gnl804-nostalgic: gnl804-nostalgic,
gnl803-celebrate: gnl803-celebrate,
gnl802-burst: gnl802-burst,
gnl801-explosion: gnl801-explosion,

/*  Nail Treatments */
gnt1-diamond-top-coat: gnt1-diamond-top-coat,
gnt2-calcium-builder: gnt2-calcium-builder,
gnt4-nail-nourisher: gnt4-nail-nourisher,
gnt5-whitener-smoother: gnt5-whitener-smoother,
gnt7-quick-dry-top-coat: gnt7-quick-dry-top-coat,
gnt8-hydrating-base-coat: gnt8-hydrating-base-coat,
gnt9-uv-top-coat: gnt9-uv-top-coat,
gnt10-smudge-fixer: gnt10-smudge-fixer,
gnt12-nail-bonder: gnt12-nail-bonder,
gnt13-nail-strengthener: gnt13-nail-strengthener,
gnt14-nail-thickener: gnt14-nail-thickener,
gnt15-nail-hardener: gnt15-nail-hardener,
gnt16-garlic-nail-growth: gnt16-garlic-nail-growth,
gnt17-nail-reconstructor: gnt17-nail-reconstructor,
gnt18-cuticle-oil: gnt18-cuticle-oil,
gnt19-nail-revitalizer: gnt19-nail-revitalizer,
gnt20-marine-base-coat: gnt20-marine-base-coat,
gnt21-smoothing-ridgefiller: gnt21-smoothing-ridgefiller,
gnt23-perfect-nails: gnt23-perfect-nails,
gnt24-nail-enhancer: gnt24-nail-enhancer,
gnt43-gel-shine-top-coat: gnt43-gel-shine-top-coat,
gnt44-2-in-1-base-top-coat: gnt44-2-in-1-base-top-coat,  

/*  BEAUTY BRICK BLUSH COLLECTION */
gbl574-glam: gbl574-glam,
gbl573-spice: gbl573-spice,
gbl572-pinky: gbl572-pinky,
gbl571-glow: gbl571-glow,

/*  Beauty Brick Eyeshadow Collection */
ges334-neon: ges334-neon,
ges333-ultra: ges333-ultra,
ges332-smoky: ges332-smoky,
ges331-nudes: ges331-nudes
  





);


@each $colorName, $color in $colors {


    [data-swatch-color=#{$colorName}] {
  	  @if $colorName == $color {
    background-image: url(//cdn.shopify.com/s/files/1/0944/0398/files/#{$colorName}.png);
    background-size: cover;
    }@else{
     background-color: $color;
    color: $color;
    }
}



}
