<div class="wide-experience-page">


{{ page.content  }}


</div>
{% comment %}
<script>
  window.addEventListener('load', function() {
    let child = document.querySelector('.site-header');
    let parent = child.parentElement;

    parent.style.height = child.offsetHeight + 'px';
});
</script>
{% endcomment %}
<style>
  .product-yvideo:before {
    height: 4rem;
    width: 4rem;
}
  .site-wrap .product-yvideo:last-child {
    margin-bottom: 3rem;
}
</style>