
<div class="main-wrapper">

<section class="trending-section">
  
   <a class="" href="/pages/the-wall">
  <div class="col-xs-12  trending-section-socialGallery">

<div class="trending-section-images" style="background: url(' https://cdn.shopify.com/s/files/1/0944/0398/files/Olapic_Grid.jpg?945927973250249547');"></div>

<div class="hover-black"></div>
     <div class="promo-txt">
      <h2 class="trending-section--title">Social Gallery</h2>
     
    </div>
    
  </div>
  </a> 
 
  <a class="" href="/blogs/events">
  <div class="col-xs-12 col-md-6 trending-section-newEvents">
<div class="trending-section-images" style="background: url('https://cdn.shopify.com/s/files/1/0944/0398/files/New_Events-Main_image.jpg?3727127356374171239');"></div>
     <div class="promo-txt">
      <h2 class="trending-section--title">News & Events</h2>
     
    </div>
    
  </div>
   </a>
  
  
  <a class="" href="/blogs/magazines">
    <div class="col-xs-12 col-md-6 trending-section-pressMedia">
    <div class="trending-section-images" style="background: url('https://cdn.shopify.com/s/files/1/0944/0398/files/Trending-Main_image-1.jpg?17066663546794507142');    background-position-y: 33%;"></div>
    <div class="promo-txt">
      <h2 class="trending-section--title">Press & Media</h2>
     
    </div>
    
  </div>
  </a>
  

  
  
</section>

</div>