<div class="main-wrapper">




  
  <div class="yfw-promo"> 
         <picture>
 			 <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-1.webp?v=1643825488" type="image/webp">
  			 <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-1.jpg?v=1643844185" type="image/jpg"> 
  			 <img alt="young wild free main" src="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-1.webp?v=1643825488"/>
         </picture>
    <a href="https://www.youtube.com/watch?v=GEY6q6T1VFo&amp;showinfo=0&amp;rel=0&amp;autoplay=1" data-lity="" class="y-link">
         <picture>
 			 <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-2.webp?v=1643825489" type="image/webp">
  			 <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-2.jpg?v=1643844185" type="image/jpg"> 
  			 <img alt="young wild free video" src="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-2.webp?v=1643825489"/>
         </picture>    
    </a>
     <a href="https://www.lagirlusa.com/pages/young-wild-free-tiktok">
         <picture>
 			 <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-3.webp?v=1643825488" type="image/webp">
  			 <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-3.jpg?v=1643844184" type="image/jpg"> 
  			 <img alt="young wild free tiktok" src="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-3.webp?v=1643825488"/>
         </picture>  
    </a>
     <a href="https://www.lagirlusa.com/pages/young-wild-free-photo-booth">
         <picture>
 			 <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-4.webp?v=1643825488" type="image/webp">
  			 <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-4.jpg?v=1643844185" type="image/jpg"> 
  			 <img alt="young wild free photobooth" src="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-4.webp?v=1643825488"/>
         </picture>  
    </a>

      <picture>
 			 <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-5.webp?v=1643825488" type="image/webp">
  			 <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-5.jpg?v=1643844184" type="image/jpg"> 
  			 <img alt="young wild free description" src="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-5.webp?v=1643825488"/>
      </picture>       
     <a href="https://www.ulta.com/p/16-color-eyeshadow-palette-festie-bestie-pimprod2030837?sku=2590881&_requestid=4104707" target="_blank">
         <picture>
 			 <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-6.webp?v=1643825488" type="image/webp">
  			 <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-6.jpg?v=1643844185" type="image/jpg"> 
  			 <img alt="young wild free G43132 festie bestie" src="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-6.webp?v=1643825488"/>
         </picture>  
    </a>
     <a href="https://www.ulta.com/p/16-color-eyeshadow-palette-nudie-cutie-pimprod2030838" target="_blank">
         <picture>
 			 <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-7.webp?v=1643825488" type="image/webp">
  			 <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-7.jpg?v=1643844185" type="image/jpg"> 
  			 <img alt="young wild free G43133 nudie cutie" src="https://cdn.shopify.com/s/files/1/0944/0398/files/young_wild_free_exp_v4-7.webp?v=1643825488"/>
         </picture>  
    </a>    

  </div>

</div>
<style>
.main-wrapper {
    padding: 0;
}
main.main-content.site-wrap {
    max-width: 100%;
    padding: 0 0;
}
  .main-wrapper {
    max-width: 100%;
}

  .main-wrapper {
    position: relative;
    overflow: hidden;
}


.yfw-promo {
    position: relative;

}
.split-promo {
    position: relative;
}  
.split-promo a {
    width: 50%;
    height: 100%;
    position: absolute;
}
  .split-promo a.promo-right {
    left: 50%;
}
  
  
  @media only screen and (max-width: 1024px) {
    .yfw-promo {
    position: relative;
    transform: scale(1.4);
    transform-origin: top center;
}

}
  
  
  footer.site-footer {
    margin: -1rem 0 0 0;
}
</style>



<script>
function heyVacayPromoMobile() {
	$(".yfw-promo").css("height","100%");  
	var $heightHeyVacayPromo = $('.yfw-promo').height();
	$(".yfw-promo").css("height",$heightHeyVacayPromo*1.4);
} 
  
const mq = window.matchMedia( "(max-width: 1024px)" );
if (mq.matches) {
	heyVacayPromoMobile();
}
  
$(window).resize(function() {
  if ($(window).width() < 1025) {
    heyVacayPromoMobile();
  }
  else {
    $(".yfw-promo").css("height","100%");
  }
});

  
</script>