

<div class="min-h-screen bg-gray-100 p-0 sm:p-12 grid content-center">
  <div class="mx-auto max-w-md px-6 py-12 bg-white border-0 shadow-lg sm:rounded-3xl">
      <section class="distributor-SignInModal" style="opacity: 0;">

   
    <div id="wufoo-z1u29nzp0vogtn3"></div>
      <script type="text/javascript"> var z1u29nzp0vogtn3; (function(d, t) { var s = d.createElement(t), options = { 'userName':'lagirlcosmetics', 'formHash':'z1u29nzp0vogtn3', 'autoResize':true, 'height':'1000', 'async':true, 'host':'wufoo.com', 'header':'show', 'ssl':true }; s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { z1u29nzp0vogtn3 = new WufooForm(); z1u29nzp0vogtn3.initialize(options); z1u29nzp0vogtn3.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script'); </script>
      <div class="SignInModal__notify">You will enter your access code on the next page.</div>
      </section>
  </div>
</div>


 <script type="text/javascript">

   $(window).bind("load", function() {
    $('.distributor-SignInModal').css("opacity","1");
});
   
 </script> 
<style>


@media only screen and (max-width: 1024px) and (min-width: 300px){

section.distributor-SignInModal {
    flex-direction: column;
    align-items: center;
    width: 400px;
}
.SignInModal__leftPanel {
    padding-right: 0;
    border-bottom: 0px solid #ccc;
    border-right: none;
    position: relative;
    padding-bottom: 3rem;
    text-align: center;
    width: 100%;
}
.SignInModal__rightPanel {
    padding-left: 0;
    margin-top: 3rem;
    width: 100%;
}
div#wufoo-z1u29nzp0vogtn3 {
    width: 350px;
    margin-left: 1.5rem!important;
}
.SignInModal__notify {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
body#distributor-login main.main-content.site-wrap {
display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
}

</style>