
<div class="product-review-page">
<div class="f-wrapper responsive-container">
<div class="col-xs-12 responsive-container">
  <h1 class="product_name product__name" itemprop="name">PRO Eyeshadow Palette</h1>
  <div class="review-img">
    <img class="modal-image" src="https://cdn.shopify.com/s/files/1/0944/0398/files/GES431-432_prod_img_main_large.jpg?v=1581635371" title="Volumatic Mascara"/>
  </div>
  <div id="product-reviews">
  <h2 class="product-review-title">Reviews</h2>
  
<div id="shopify-product-reviews" data-id="4516295901323">{{ product.metafields.spr.reviews }}</div> 
    
 
  </div>


  
  



    
    
   
  
    
  
</div>
</div>
</div>
<style>
  .spr-reviews {
    display: none;
}
.product-review-page {
    margin-top: 3rem;
    text-align: center;
}
  .product-review-page h1.product_name.product__name {
    font-size: 3rem;
}

span.spr-summary-caption {
    visibility: hidden;
}
  .spr-content .spr-form {
    display: block!important;
}
  .spr-summary {
    display: none;
}

 .spr-header {
    display: none;
}
  h2.product-review-title {
    display: none;
}
</style>