<div class="container-grid my-8" id="review-categories">
 <div class="relative mb-8 px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
			<div class="max-w-3xl mx-auto text-center">
              <h1 class="mt-5 text-4xl font-bold leading-tight text-gray-900 sm:text-5xl sm:leading-tight lg:text-6xl lg:leading-tight">		
                Love Your Purchase? Let's Hear About It.
              </h1>
              <p class="max-w-md mx-auto mt-6 text-lg leading-7 text-gray-900">
                Browse categories below to review your favorites and help our beauty community make confident choices.
			  </p>
            </div>
 </div> 

  <h2 class="mb-4 mt-6 uppercase" data-title="Face">Face</h2>
  <div class="flex max-w-full gap-2 py-2 collection-quicklink align-center">
    <div class="max-w-full">
      <scroll-slider class="scroll-slider flex justify-items-start relative mb-2" id="collection-quicklink">
        <button aria-label="Previous slide" class="scroll-slider__button--prev hide-on-touch z-10 absolute left-2 solid flex justify-center items-center rounded-full border border-black p-2 text-black transition hover:bg-black hover:text-white size-9 self-center" style="display: none;">
          <svg class="size-5 -rotate-180 transform" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
          </svg>
        </button>
        <div class="scroll-slider__wrapper relative overflow-x-scroll scrollbar-none flex flex-nowrap gap-4">
          <div class="inline-block">
            <a href="https://www.lagirlusa.com/collections/blush" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-blush.jpg?v=1725555797&amp;width=200" alt="Blush" srcset="//www.lagirlusa.com/cdn/shop/files/collection-blush.jpg?v=1725555797&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Blush</div>
            </a>
          </div>
          <div class="inline-block">
            <a href="https://www.lagirlusa.com/collections/concealer" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-concealer.jpg?v=1725555798&amp;width=200" alt="Concealer" srcset="//www.lagirlusa.com/cdn/shop/files/collection-concealer.jpg?v=1725555798&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Concealer</div>
            </a>
          </div>
          <div class="inline-block">
            <a href="https://www.lagirlusa.com/collections/contour-highlight" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-contour-highlight.jpg?v=1725555798&amp;width=200" alt="Contour &amp; Highlighter" srcset="//www.lagirlusa.com/cdn/shop/files/collection-contour-highlight.jpg?v=1725555798&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Contour &amp; Highlighter</div>
            </a>
          </div>
          <div class="inline-block">
            <a href="https://www.lagirlusa.com/collections/face-body-palette" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-face-body-palette.jpg?v=1725555798&amp;width=200" alt="Face/Body Palette" srcset="//www.lagirlusa.com/cdn/shop/files/collection-face-body-palette.jpg?v=1725555798&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Face/Body Palette</div>
            </a>
          </div>
          <div class="inline-block">
            <a href="https://www.lagirlusa.com/collections/foundation" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-foundation.jpg?v=1725555798&amp;width=200" alt="Foundation" srcset="//www.lagirlusa.com/cdn/shop/files/collection-foundation.jpg?v=1725555798&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Foundation</div>
            </a>
          </div>
          <div class="inline-block">
            <a href="https://www.lagirlusa.com/collections/powder" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-powder.jpg?v=1725555797&amp;width=200" alt="Powder" srcset="//www.lagirlusa.com/cdn/shop/files/collection-powder.jpg?v=1725555797&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Powder</div>
            </a>
          </div>
          <div class="inline-block">
            <a href="/collections/prime-set" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-prime-set.jpg?v=1725555798&amp;width=200" alt="Prime &amp; Set" srcset="//www.lagirlusa.com/cdn/shop/files/collection-prime-set.jpg?v=1725555798&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Prime &amp; Set</div>
            </a>
          </div>
        </div>
        <button aria-label="Next slide" class="scroll-slider__button--next hide-on-touch z-10 absolute right-2 solid flex justify-center items-center rounded-full border border-black p-2 text-black transition hover:bg-black hover:text-white size-9 self-center" style="display: flex;">
          <svg class="size-5 rtl:rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
          </svg>
        </button>
      </scroll-slider>
      <style>
        .scroll-slider__button--prev,
        .scroll-slider__button--next{
          background: white;
        }

        .-rotate-180 {
          --tw-rotate: -180deg;
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        }

        .transform {
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        }

        .items-center {
          align-items: center;
        }

        .justify-center {
          justify-content: center;
        }

        .self-center {
          align-self: center;
        }

        .rounded-full {
          border-radius: 9999px;
        }

        .border-black {
          --tw-border-opacity: 1;
          border-color: rgb(0 0 0 / var(--tw-border-opacity));
        }

        .bg-black {
          --tw-bg-opacity: 1;
          background-color: rgb(0 0 0 / var(--tw-bg-opacity));
        }

        .p-2 {
          padding: 0.5rem;
        }

        .text-black {
          --tw-text-opacity: 1;
          color: rgb(0 0 0 / var(--tw-text-opacity));
        }

        .text-white {
          --tw-text-opacity: 1;
          color: rgb(255 255 255 / var(--tw-text-opacity));
        }

        .transition {
          transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
          transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
          transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 150ms;
        }

        .hover\:bg-black:hover {
          --tw-bg-opacity: 1;
          background-color: rgb(0 0 0 / var(--tw-bg-opacity));
        }

        .hover\:text-white:hover {
          --tw-text-opacity: 1;
          color: rgb(255 255 255 / var(--tw-text-opacity));
        }
      </style>
    </div>
  </div>
  <h2 class="mb-4 mt-6 uppercase" data-title="Eyes">Eyes</h2>
  <div class="flex max-w-full gap-2 py-2 collection-quicklink align-center">
    <div class="max-w-full">
      <scroll-slider class="scroll-slider flex justify-items-start relative mb-2" id="collection-quicklink">
        <button aria-label="Previous slide" class="scroll-slider__button--prev hide-on-touch z-10 absolute left-2 solid flex justify-center items-center rounded-full border border-black p-2 text-black transition hover:bg-black hover:text-white size-9 self-center" style="display: none;">
          <svg class="size-5 -rotate-180 transform" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
          </svg>
        </button>
        <div class="scroll-slider__wrapper relative overflow-x-scroll scrollbar-none flex flex-nowrap gap-4">
          <div class="inline-block">
            <a href="https://www.lagirlusa.com/collections/eyes/" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-eyes.jpg?v=1725555797&amp;width=200" alt="Eyes" srcset="//www.lagirlusa.com/cdn/shop/files/collection-eyes.jpg?v=1725555797&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Eyes</div>
            </a>
          </div>
          <div class="inline-block">
            <a href="https://www.lagirlusa.com/collections/eyebrow" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-brow.jpg?v=1725555797&amp;width=200" alt="Eyebrow" srcset="//www.lagirlusa.com/cdn/shop/files/collection-brow.jpg?v=1725555797&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Eyebrow</div>
            </a>
          </div>
          <div class="inline-block">
            <a href="https://www.lagirlusa.com/collections/eyeliner" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-eyeliner.jpg?v=1725555797&amp;width=200" alt="Eyeliner" srcset="//www.lagirlusa.com/cdn/shop/files/collection-eyeliner.jpg?v=1725555797&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Eyeliner</div>
            </a>
          </div>
          <div class="inline-block">
            <a href="https://www.lagirlusa.com/collections/eyeshadow" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-eyeshadow.jpg?v=1725555798&amp;width=200" alt="Eyeshadow" srcset="//www.lagirlusa.com/cdn/shop/files/collection-eyeshadow.jpg?v=1725555798&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Eyeshadow</div>
            </a>
          </div>
          <div class="inline-block">
            <a href="https://www.lagirlusa.com/collections/mascara" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-mascara.jpg?v=1725555798&amp;width=200" alt="Mascara" srcset="//www.lagirlusa.com/cdn/shop/files/collection-mascara.jpg?v=1725555798&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Mascara</div>
            </a>
          </div>
        </div>
        <button aria-label="Next slide" class="scroll-slider__button--next hide-on-touch z-10 absolute right-2 solid flex justify-center items-center rounded-full border border-black p-2 text-black transition hover:bg-black hover:text-white size-9 self-center" style="display: none;">
          <svg class="size-5 rtl:rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
          </svg>
        </button>
      </scroll-slider>
    </div>
  </div>
  <h2 class="mb-4 mt-6 uppercase" data-title="Lips">Lips</h2>
  <div class="flex max-w-full gap-2 py-2 collection-quicklink align-center">
    <div class="max-w-full">
      <scroll-slider class="scroll-slider flex justify-items-start relative mb-2" id="collection-quicklink">
        <button aria-label="Previous slide" class="scroll-slider__button--prev hide-on-touch z-10 absolute left-2 solid flex justify-center items-center rounded-full border border-black p-2 text-black transition hover:bg-black hover:text-white size-9 self-center" style="display: none;">
          <svg class="size-5 -rotate-180 transform" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
          </svg>
        </button>
        <div class="scroll-slider__wrapper relative overflow-x-scroll scrollbar-none flex flex-nowrap gap-4">
          <div class="inline-block">
            <a href="https://www.lagirlusa.com/collections/lips" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-lips.jpg?v=1725555797&amp;width=200" alt="Lips" srcset="//www.lagirlusa.com/cdn/shop/files/collection-lips.jpg?v=1725555797&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Lips</div>
            </a>
          </div>
          <div class="inline-block">
            <a href="https://www.lagirlusa.com/collections/lip-care" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-lip-care.jpg?v=1725555798&amp;width=200" alt="Lip Care" srcset="//www.lagirlusa.com/cdn/shop/files/collection-lip-care.jpg?v=1725555798&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Lip Care</div>
            </a>
          </div>
          <div class="inline-block">
            <a href="https://www.lagirlusa.com/collections/lipgloss" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-lipgloss.jpg?v=1725555798&amp;width=200" alt="Lipgloss" srcset="//www.lagirlusa.com/cdn/shop/files/collection-lipgloss.jpg?v=1725555798&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Lipgloss</div>
            </a>
          </div>
          <div class="inline-block">
            <a href="https://www.lagirlusa.com/collections/lipliner" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-lipliner.jpg?v=1725555797&amp;width=200" alt="Lipliner" srcset="//www.lagirlusa.com/cdn/shop/files/collection-lipliner.jpg?v=1725555797&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Lipliner</div>
            </a>
          </div>
          <div class="inline-block">
            <a href="https://www.lagirlusa.com/collections/lipstick" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-lipstick.jpg?v=1725555798&amp;width=200" alt="Lipstick" srcset="//www.lagirlusa.com/cdn/shop/files/collection-lipstick.jpg?v=1725555798&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Lipstick</div>
            </a>
          </div>
        </div>
        <button aria-label="Next slide" class="scroll-slider__button--next hide-on-touch z-10 absolute right-2 solid flex justify-center items-center rounded-full border border-black p-2 text-black transition hover:bg-black hover:text-white size-9 self-center" style="display: none;">
          <svg class="size-5 rtl:rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
          </svg>
        </button>
      </scroll-slider>
    </div>
  </div>
  <h2 class="mb-4 mt-6 uppercase" data-title="Nails">Nails</h2>
  <div class="flex max-w-full gap-2 py-2 collection-quicklink align-center">
    <div class="max-w-full">
      <scroll-slider class="scroll-slider flex justify-items-start relative mb-2" id="collection-quicklink">
        <button aria-label="Previous slide" class="scroll-slider__button--prev hide-on-touch z-10 absolute left-2 solid flex justify-center items-center rounded-full border border-black p-2 text-black transition hover:bg-black hover:text-white size-9 self-center" style="display: none;">
          <svg class="size-5 -rotate-180 transform" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
          </svg>
        </button>
        <div class="scroll-slider__wrapper relative overflow-x-scroll scrollbar-none flex flex-nowrap gap-4">
          <div class="inline-block">
            <a href="https://www.lagirlusa.com/collections/nails" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-nails.jpg?v=1725555798&amp;width=200" alt="Nails" srcset="//www.lagirlusa.com/cdn/shop/files/collection-nails.jpg?v=1725555798&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Nails</div>
            </a>
          </div>
          <div class="inline-block">
            <a href="https://www.lagirlusa.com/collections/nail-polish" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-polish.jpg?v=1725555798&amp;width=200" alt="Nail Polish" srcset="//www.lagirlusa.com/cdn/shop/files/collection-polish.jpg?v=1725555798&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Nail Polish</div>
            </a>
          </div>
          <div class="inline-block">
            <a href="https://www.lagirlusa.com/collections/nail-tips" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-nail-tips.jpg?v=1725555797&amp;width=200" alt="Nail Tips" srcset="//www.lagirlusa.com/cdn/shop/files/collection-nail-tips.jpg?v=1725555797&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Nail Tips</div>
            </a>
          </div>
          <div class="inline-block">
            <a href="https://www.lagirlusa.com/collections/nail-care" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-treatment.jpg?v=1725555797&amp;width=200" alt="Nail Care" srcset="//www.lagirlusa.com/cdn/shop/files/collection-treatment.jpg?v=1725555797&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Nail Care</div>
            </a>
          </div>
        </div>
        <button aria-label="Next slide" class="scroll-slider__button--next hide-on-touch z-10 absolute right-2 solid flex justify-center items-center rounded-full border border-black p-2 text-black transition hover:bg-black hover:text-white size-9 self-center" style="display: none;">
          <svg class="size-5 rtl:rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
          </svg>
        </button>
      </scroll-slider>
    </div>
  </div>
  <h2 class="mb-4 mt-6 uppercase" data-title="Accessories">Accessories</h2>
  <div class="flex max-w-full gap-2 py-2 collection-quicklink align-center">
    <div class="max-w-full">
      <scroll-slider class="scroll-slider flex justify-items-start relative mb-2" id="collection-quicklink">
        <button aria-label="Previous slide" class="scroll-slider__button--prev hide-on-touch z-10 absolute left-2 solid flex justify-center items-center rounded-full border border-black p-2 text-black transition hover:bg-black hover:text-white size-9 self-center" style="display: none;">
          <svg class="size-5 -rotate-180 transform" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
          </svg>
        </button>
        <div class="scroll-slider__wrapper relative overflow-x-scroll scrollbar-none flex flex-nowrap gap-4">
          <div class="inline-block">
            <a href="/collections/accessories" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-accessories.jpg?v=1725636933&amp;width=200" alt="Accessories" srcset="//www.lagirlusa.com/cdn/shop/files/collection-accessories.jpg?v=1725636933&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Accessories</div>
            </a>
          </div>
          <div class="inline-block">
            <a href="/collections/brushes" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-brushes.jpg?v=1725636933&amp;width=200" alt="Brushes" srcset="//www.lagirlusa.com/cdn/shop/files/collection-brushes.jpg?v=1725636933&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Brushes</div>
            </a>
          </div>
          <div class="inline-block">
            <a href="/collections/makeup-tools" class="flex flex-col items-center gap-2 text-center cursor-pointer">
              <div class="block size-24 md:size-40">
                <img src="//www.lagirlusa.com/cdn/shop/files/collection-tools.jpg?v=1725636933&amp;width=200" alt="Makeup Tools" srcset="//www.lagirlusa.com/cdn/shop/files/collection-tools.jpg?v=1725636933&amp;width=200 200w" width="200" height="200" loading="eager">
              </div>
              <div class="text-sm font-medium text-balance">Makeup Tools</div>
            </a>
          </div>
        </div>
        <button aria-label="Next slide" class="scroll-slider__button--next hide-on-touch z-10 absolute right-2 solid flex justify-center items-center rounded-full border border-black p-2 text-black transition hover:bg-black hover:text-white size-9 self-center" style="display: none;">
          <svg class="size-5 rtl:rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
          </svg>
        </button>
      </scroll-slider>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
  const reviewCategories = document.getElementById('review-categories');
  
  if (reviewCategories) {
    const links = reviewCategories.getElementsByTagName('a');
    
    for (let link of links) {
      let currentHref = link.getAttribute('href');
      
      // Check if the URL already has parameters
      if (currentHref.includes('?')) {
        // If it does, append '&review' instead
        link.setAttribute('href', currentHref + '&review');
      } else {
        // If it doesn't, append '?review'
        link.setAttribute('href', currentHref + '?review');
      }
    }
  } else {
   
  }
});
</script>
<style>
  {% if request.device_type != 'desktop' %}
  <!-- Mobile/Tablet content -->
.scroll-slider button {
    display: none !important;
}
{% else %}
  <!-- Desktop content -->
{% endif %}
  

</style>