<div class="main-wrapper">

  <div class="shade-finder-promo-bar">
    <div class="promo-header"><h4>foundation finder</h4>
    <a class="promo-btn" href="https://www.lagirlusa.com/pages/foundation-finder" aria-label="FIND MY SHADE" title="FIND MY SHADE" tabindex="0">
      <span class="button_promo">FIND MY SHADE</span>
    </a>
    </div>
  </div>

  <div class="tinted-foundation-promo"> 
    <div class="experienceMain">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/tinted_foundation_experience_main_6.webp?v=1628619644" type="image/webp">  
        <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/tinted_foundation_experience_main_6.jpg?v=1628619645" type="image/jpeg">
        <img alt="tinted_foundation_experience_main" src="https://cdn.shopify.com/s/files/1/0944/0398/files/tinted_foundation_experience_main_6.jpg?v=1628619645"/>
      </picture>
      <a href="https://www.lagirlusa.com/pages/foundation-finder-3" title="Find My Shade" target="_blank" style="position: absolute; left: 36.93%; top: 90.42%; width: 28.03%; height: 5.85%; z-index: 2;"></a>
    </div>     
    <div class="productInfo">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/tinted_foundation_experience_productInfo_6.webp?v=1628619644" type="image/webp">  	
        <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/tinted_foundation_experience_productInfo_6.jpg?v=1628619644" type="image/jpeg">
        <img alt="product_info" src="https://cdn.shopify.com/s/files/1/0944/0398/files/tinted_foundation_experience_productInfo_6.jpg?v=1628619644"/>
      </picture>
      <a href="https://www.lagirlusa.com/products/tinted-foundation" target="_blank" title="tinted-foundation" style="position: absolute; left: 42.97%; top: 86.38%; width: 16.5%; height: 7.41%; z-index: 2;"></a>
    </div>
    <div class="experienceVideo">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/tinted_foundation_experience_video_6.webp?v=1628619644" type="image/webp">  
        <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/tinted_foundation_experience_video_6.jpg?v=1628619644" type="image/jpeg">
        <img alt="video" src="https://cdn.shopify.com/s/files/1/0944/0398/files/tinted_foundation_experience_video_6.jpg?v=1628619644"/>
      </picture>
      <a href="https://www.youtube.com/watch?v=ZGBvPB7gr0k" data-lity="" class="y-link" title="tinted foundation video" style="position: absolute; left: 20.7%; top: 16.4%; width: 60.13%; height: 54.17%; z-index: 2;"></a>
    </div>
    <div class="findYourMatch">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/tinted_foundation_experience_findYourMatch_6.webp?v=1628619644" type="image/webp">  			 
        <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/tinted_foundation_experience_findYourMatch_6.jpg?v=1628619645" type="image/jpeg">
        <img alt="experience" src="https://cdn.shopify.com/s/files/1/0944/0398/files/tinted_foundation_experience_findYourMatch_6.jpg?v=1628619645"/>
      </picture>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159266668693" target="_blank" title="GLM751 Ivory" style="position: absolute; left: 16.1%; top: 12.36%; width: 12.6%; height: 15.71%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159266701461" target="_blank" title="GLM752 Porcelain" style="position: absolute; left: 29.9%; top: 12.33%; width: 12.47%; height: 15.71%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159266734229" target="_blank" title="GLM753 Bisque" style="position: absolute; left: 43.77%; top: 12.26%; width: 12.57%; height: 15.87%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159266766997" target="_blank" title="GLM754 Nude" style="position: absolute; left: 57.43%; top: 12.23%; width: 12.73%; height: 15.87%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159266799765" target="_blank" title="GLM755 Beige" style="position: absolute; left: 71.4%; top: 12.26%; width: 12.53%; height: 15.87%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159266832533" target="_blank" title="GLM756 Warm Beige" style="position: absolute; left: 16%; top: 29.1%; width: 12.77%; height: 15.91%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159266865301" target="_blank" title="GLM757 Medium Beige" style="position: absolute; left: 29.93%; top: 29.19%; width: 12.6%; height: 15.81%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159266898069" target="_blank" title="GLM758 Golden" style="position: absolute; left: 43.77%; top: 29.19%; width: 12.6%; height: 15.81%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159266930837" target="_blank" title="GLM759 Tawny" style="position: absolute; left: 57.47%; top: 29.1%; width: 12.7%; height: 15.87%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159266963605" target="_blank" title="GLM760 Warm Sand" style="position: absolute; left: 71.33%; top: 29.1%; width: 12.73%; height: 15.84%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159266996373" target="_blank" title="GLM761 Tan" style="position: absolute; left: 16.1%; top: 46.02%; width: 12.63%; height: 15.71%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159267029141" target="_blank" title="GLM762 Caramel" style="position: absolute; left: 29.93%; top: 45.99%; width: 12.53%; height: 15.78%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159267061909" target="_blank" title="GLM763 Rich Honey" style="position: absolute; left: 43.73%; top: 46.06%; width: 12.67%; height: 15.78%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159267094677" target="_blank" title="GLM764 Almond" style="position: absolute; left: 57.53%; top: 46.02%; width: 12.63%; height: 15.81%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159267127445" target="_blank" title="GLM765 Bronze" style="position: absolute; left: 71.37%; top: 45.96%; width: 12.57%; height: 15.75%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159267160213" target="_blank" title="GLM766 Cocoa" style="position: absolute; left: 16.13%; top: 62.82%; width: 12.57%; height: 15.84%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159267192981" target="_blank" title="GLM767 Walnut" style="position: absolute; left: 29.9%; top: 62.92%; width: 12.67%; height: 15.68%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159267225749" target="_blank" title="GLM768 Warm Sienna" style="position: absolute; left: 43.67%; top: 62.76%; width: 12.7%; height: 15.94%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159267258517" target="_blank" title="GLM769 Espresso" style="position: absolute; left: 57.57%; top: 62.79%; width: 12.5%; height: 15.87%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159267291285" target="_blank" title="GLM770 Mahogany" style="position: absolute; left: 71.23%; top: 62.82%; width: 12.7%; height: 15.71%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159267324053" target="_blank" title="GLM771 Chestnut" style="position: absolute; left: 16.07%; top: 79.62%; width: 12.7%; height: 15.87%; z-index: 2;"></a>
            <a href="https://www.lagirlusa.com/products/tinted-foundation?variant=40159267356821" target="_blank" title="GLM772 Ebony" style="position: absolute; left: 29.83%; top: 79.62%; width: 12.73%; height: 15.87%; z-index: 2;"></a>
    </div>
    <div class="wantMore">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/tinted_foundation_experience_wantMore_6.webp?v=1628619644" type="image/webp"> 
        <source srcset="https://cdn.shopify.com/s/files/1/0944/0398/files/tinted_foundation_experience_wantMore_6.jpg?v=1628619644" type="image/jpeg">
        <img alt="wantMore" src="https://cdn.shopify.com/s/files/1/0944/0398/files/tinted_foundation_experience_wantMore_6.jpg?v=1628619644"/>
      </picture>
      <a href="https://www.lagirlusa.com/pages/tinted-foundation-tiktok" title="tinted-foundation-tiktok" style="position: absolute; left: 41.61%; top: 55.77%; width: 16.26%; height: 13.89%; z-index: 2;"></a>
    </div>
  </div>


<style>

  .tinted-foundation-promo > div {position:relative;}  
.shade-finder-promo-bar h4 {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
    color: black;
    letter-spacing: 3px;
}
a.promo-btn {
    background: black;
    padding: 0.75rem 1rem;
    color: white;
    font-weight: 800;
    margin: 0 2rem;
    letter-spacing: 1px;
}
.shade-finder-promo-bar {
    background-color: white;
    padding: 1rem;
 background: url('https://cdn.shopify.com/s/files/1/0944/0398/files/foundation_finder_background_2.jpg?v=1628619086');
}

}
.shade-finder-promo-bar .promo-header {
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo-header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .tinted-foundation-promo {
    background: rgb(195,148,126);
    background: linear-gradient(
180deg
, rgba(195,148,126,1) 0%, rgba(235,198,178,1) 50%, rgba(254,237,222,1) 100%);
}
.main-wrapper {
    padding: 0;
}
main.main-content.site-wrap {
    max-width: 100%;
    padding: 0 0;
}
  .main-wrapper {
    max-width: 100%;
}

  .main-wrapper {
    position: relative;
    overflow: hidden;
}

  .hey-vacay-background {
    position: absolute;
  }
  .hey-vacay-background img {
    width: 3000px;
}
  
.tinted-foundation-promo {
    position: relative;

}
.split-promo {
    position: relative;
}  
.split-promo a {
    width: 50%;
    height: 100%;
    position: absolute;
}
  .split-promo a.promo-right {
    left: 50%;
}
  
  
  @media only screen and (max-width: 1024px) {
    .tinted-foundation-promo {
    position: relative;
    transform: scale(1.4);
    transform-origin: top center;
}
    .hey-vacay-background img {
    max-width: fit-content;
}

}
  
  
  footer.site-footer {
    margin: -1rem 0 0 0;
}
  
@media (max-width: 500px){


.shade-finder-promo-bar {
    padding: 1rem;
}
.shade-finder-promo-bar h4 {
    font-size: 1.2rem;
}
  a.promo-btn {
    padding: .5rem 1rem;
}
}  
</style>



<script>
function heyVacayPromoMobile() {
	$(".tinted-foundation-promo").css("height","100%");  
	var $heightHeyVacayPromo = $('.tinted-foundation-promo').height();
	$(".tinted-foundation-promo").css("height",$heightHeyVacayPromo*1.4);
} 
  
const mq = window.matchMedia( "(max-width: 1024px)" );
if (mq.matches) {
	heyVacayPromoMobile();
}
  
$(window).resize(function() {
  if ($(window).width() < 1025) {
    heyVacayPromoMobile();
  }
  else {
    $(".tinted-foundation-promo").css("height","100%");
  }
});

  
</script>